<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cafe.cafeapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Cafe App</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <plugin name="pushbots-cordova-plugin" spec="1.6.0" />
	<preference name="android-minSdkVersion" value="15" />
	<preference name="android-build-tool" value="gradle" />
	<gap:plugin name="pushbots-cordova-plugin" spec="1.6.x" source="npm" />
    <engine name="ios" spec="^4.5.5" />
    <engine name="android" spec="^7.1.4" />
    <engine name="browser" spec="^5.0.4" />
</widget>
